*{
    margin: 0%;
    padding: 0%;
    animation: slidepage 0.5s ease-in-out forwards;
    background-color: transparent;

}
body{
    background-image: url("../about/pexels-klaus-nielsen-6287295.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;


    

   
}
@keyframes slidepage{
    0%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}
.aboutContainer{
    margin-left: 20%;
    margin-top: 10%;
    height: 80%;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.aboutContainer p{
    font-size: 2vw;
    font-weight: 600;
    padding: 10% 5%;
    border: 2px solid #156d5630;
    background-color: #021f17b8;
    color: rgb(161, 211, 255);
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
    
    
}