*{

    animation: slidepage 0.5s ease-in forwards;
    background-color: transparent;
    
}
@keyframes slidepage{
    0%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}
body{
    color: rgb(161, 211, 255);
    background-image: url("../mainPage/neon-2560939_1920 (1)-fotor-20231011143856.jpg");
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.01px rgb(0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 
}
@keyframes animateR {
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    75%{
        opacity: 1;
        transform: translateX(-10%);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}
@keyframes animateL {
    0%{
        opacity: 0;
        transform: translateX(-50%);
    }
    75%{
        opacity: 1;
        transform: translateX(10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
    
}

    h1{
        text-align: center;
        margin: 3% 0%;
        font-size: 4vw;
        opacity: 0;
        margin-top: 15%;
        animation: animateTop 2s 0.5s ease-in forwards;
    
    
    }
.container{
    padding: 5%;
    display: flex;
    flex-direction: row;
    opacity: 0;
    animation: animateTop 1s 1s ease-in forwards;
}
.imgs{
    height: 20vw;
    box-shadow: 2px 2px 2px 6px rgba(255, 226, 226, 0.057);
    opacity: 0;
    flex:1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: animateL 2s 1s ease-in forwards;
}
.imgs:hover{   
    flex:1.2;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 5px 6px rgba(54, 12, 12, 0.84);
}
.firstimg{
    background-image: url("../mainPage/bakery-1868396_1920.jpg");
}
.secondimg{
    background-image: url("../mainPage/wheat-7782266_1920.jpg");
}
.thirdimg{
    background-image: url("../mainPage/cat-7884678_1920.jpg");
}


.card{
    margin: 1rem;
    border: 3px solid rgba(0, 0, 0, 0.445);
    background-color: #032c2130;
    flex:2;
    display: flex;
    align-items: center;
    opacity: 0;
    font-size: 2vw ;
    text-align: center;
    animation: animateR 2s 1s ease-in forwards;

}
.card:hover{
    background-color:#010f0cb7;
    box-shadow: 2px 2px 2px 6px rgba(0, 0, 0, 0.037);
    transform: scale(5.100);
    transition: 0.5s;

}
svg{
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 600px) {
    body{
        max-width: 100vw;
        background-size: cover;   

    }
    .card{
        background-color: rgba(0, 0, 0, 0.445);
    }
}





