*{
    animation: slidepage 0.5s ease-in-out;
    background-color: transparent;



}
body{
    color: rgb(161, 211, 255);
    background-image: url("../fooddark-3313090_1280.jpg");
    max-width: 100vw;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: center;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.01px rgb(0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes slidepage{
    0%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}

.productsContainer{
    height: 106%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.2%;
    padding: 0vh 3vh 2vh 3vh;
    justify-content: center;
    align-items: center;
    margin: 3% 0% 10% 25%;
    background-color: #9e754a38;
    border: 2px solid rgb(0, 0, 0);
    opacity: 0;
    animation: animategrow 1s 1s ease-in-out forwards;

}
@keyframes animategrow{
    0%{
        transform: scale(0.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.itemContainer{
    background-color: #9e754a90;
    width: 100%;
    height: 200px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border: 1px solid black;


}
.itemContainer:hover{
    background-color: #9e754a;
    transition: 0.5s ease-in-out;
}
.item{
    font-size: 1em;
    font-weight:lighter;
    color: rgba(109, 146, 179, 0.737);

}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img:hover{
    border-radius: 10%;

    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.firstimg{
    background-image: url("../products/bun-4892519_640.jpg");
    width: 60%;


}
.thirdimg{
    background-image: url("../products/bread-4077812_640.jpg");
    width: 60%;

}
.secondimg{
    background-image: url("../products/baguette-235_640.jpg");
    width: 60%;

}
.fourthimg{
    background-image: url("../products/pain-au-chocolat-5100138_640.jpg");
    width: 60%;

}
.fifthimg{
    background-image: url("../products/loaf-1979676_640.jpg");
    width: 60%;

}
.sixthimg{
    background-image: url("../products/bread-basket-2105695_640.jpg");
    width: 60%;

}
@media screen and (max-width: 1000px){
    .productsContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    
    
    
}